.detail-img {
	width: 100%;
}

.detail-titleWrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 20px 20px 0;

	.detail-title {
		font-weight: bold;
		font-size: 1.3rem;
	}

	.like {
		font-size: 1.5rem;
		cursor: pointer;

		.heartFill {
			color: var(--color-point);
		}
	}
}

.detail-price {
	color: var(--color-point);
	margin-bottom: 30px;
}

.new {
	font-size:0.8rem;
	color:var(--color-gray);
	margin-bottom: 30px;
}

.detail-dropdown {	
	margin-bottom:20px;
	& > * { width:100%}
}
button {width:100%; }

.btn:hover {
    color: inherit;
    background-color: inherit;
    border-color: inherit;
}
